<div id="mainPanel" class="container">
  <div>
    <button class="logout" type="button" (click)="logout()" name="Szczegóły urządzenia">Wyloguj</button>
  </div>
  <div class="row-4">
    <h1>Lista twoich urządzeń</h1>
  </div>
  <div>
    <div *ngFor="let device of devices">
      <h2>Urządzenie nr: {{device.id}}</h2>
      <div>Status urządzenia: {{device.isActive}}</div>
      <div>
        <span>Lokalizacja: {{device.address}}</span>
      </div>
      <div>
        <button class="btn btn-danger btn-block" type="button" name="Szczegóły urządzenia" (click)="details(device.id)">Szczegóły
          urządzenia
        </button>
      </div>
    </div>
  </div>
</div>
