<div id="devicePanel" class="container">
  <div>
    <button class="logout" type="button" (click)="logout()" name="Szczegóły urządzenia">Wyloguj</button>
  </div>
  <div class="row">
    <h2>Numer urządzenia: {{this.device.id}}</h2>
    <div>Status urządzenia: {{device.isActive}}</div>
    <div>Ilość dostępnych produktów: {{device.capacity}}</div>
    <div>Maksymalna liczba produktów: {{device.maxCapacity}}</div>
    <div>Adres urządzenia: {{device.address}}</div>
    <div>
      <button class="btn btn-danger btn-block" type="button" (click)="edit(device.id)" name="Szczegóły urządzenia">Edycja
        urządzenia
      </button>
      <button class="btn btn-danger btn-block" type="button" (click)="list(device.id)" name="Lista produktów">Lista produktów
      </button>
    </div>
  </div>

</div>

