<div id="devicePanel" class="container">
  <div>
    <button class="logout" type="button" (click)="logout()" name="Szczegóły urządzenia">Wyloguj</button>
  </div>
  <div class="row">
    <h2>Urządzenie numer 1 </h2>
    <div>Status urządzenia: aktywne</div>
    <div>Ilość dostępnych produktów:14</div>
    <div>Maksymalna cena: 13.2</div>
    <div>Minimalna cena: 13.2</div>
    <div>Data ostatniej transakcji: 27/03/2020</div>
    <div>
      <button class="btn btn-danger btn-block" type="button" name="Szczegóły urządzenia">Edycja urządzenia</button>
    </div>
  </div>

</div>

