<div id="devicePanel" class="container">
  <div>
    <button class="logout" type="button" (click)="logout()" name="Szczegóły urządzenia">Wyloguj</button>
  </div>
  <div class="form_div">

    <h3>Edycja urządzenia</h3>
    <form role="form">
      <div class="form-group">
        <h5>Numer id urządzenia</h5>
        <output #id class="form-control" type="text" required="true">id urządzenia</output>
      </div>
      <div class="form-group">
        <h5>Adres urządzenia</h5>
        <input #address class="form-control" type="text" required="true">
      </div>
      <div class="form-group">
        <h5>Maksymalna pojemność</h5>
        <input #maxCapacity class="form-control" type="text" required="true">
      </div>
      <div class="form-group">
        <h5>Urządzenie aktywne</h5>
        <input #active class="form-control" type="checkbox" required="true">
      </div>
      <div class="form-group">
        <h5>Ilość produktów w urządzeniu (obecnie)</h5>
        <output #capacity class="form-control" type="text" required="true">123</output>
      </div>
      <div class="form-group">
        <h5>Numer id właściciela urządzenia</h5>
        <output #id class="form-control" type="text" required="true">id właściciela</output>
      </div>
      <button class="btn btn-danger btn-block" type=button  name="Zapisz zmiany">Zapisz zmiany</button>
    </form>
  </div>
</div>
