<div href="/login" id="loginPanel" class="container">
  <div class="main_div">
    <h1>Witaj w systemie zarządzania automatami</h1>
  </div>
  <div class="form_div">

    <h3>Prosimy o zalogowanie</h3>
    <form role="form">
      <div class="form-group">
        <input #loginValue class="form-control" placeholder="Podaj login" type="text" required="true">
      </div>
      <div class="form-group">
        <input #password class="form-control" placeholder="Podaj hasło" type="password" required="true">
      </div>
      <button class="btn btn-danger btn-block" type=button (click)="login(loginValue.value, password.value)" name="Zaloguj">Zaloguj</button>
    </form>
  </div>
</div>



