<div id="mainPanel" class="container">
  <div>
    <button class="logout" type="button" (click)="logout()" name="Szczegóły urządzenia">Wyloguj</button>
  </div>
  <div class="row-4">
    <h1>Lista twoich urządzeń</h1>
  </div>
  <div class="well hoverwell thumbnail">
    <h2>Urządzenie numer 1 </h2>
    <div>Status urządzenia: aktywne</div>
    <div>
      <span>Lokalizacja: Polna 8, Warszawa</span>
    </div>
    <div>
      <button class="btn btn-danger btn-block" type="button" name="Szczegóły urządzenia" (click)="details()">Szczegóły
        urządzenia
      </button>
    </div>
  </div>
  <div class="well hoverwell thumbnail">
    <h2>Urządzenie numer 2 </h2>
    <div>Status urządzenia: nieaktywne</div>
    <div>
      <span>Lokalizacja: Cicha 8, Warszawa</span>
    </div>
    <div>
      <button class="btn btn-danger btn-block" type="button" name="Szczegóły urządzenia" (click)="details()">Szczegóły
        urządzenia
      </button>
    </div>
  </div>
</div>
